#tel-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

#mail-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

#insta-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

#facebook-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#tel-container a:hover {
    text-decoration: none;
    cursor: auto;
}